{% load static %}
{% include 'home/base.html' %}

<!DOCTYPE html>
<html>
	<head>
		<title>==========</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
		<link href="{% static 'css/dist/css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<body>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<h1 class="mt-4">Halaman Utama</h1>
						<ol class="breadcrumb mb-4">
								<li class="breadcrumb-item active">halaman utama</li>
							</ol>

				

	<div class="card mb-4">
		<div class="card-header">
			<i class="fas fa-table mr-1"></i>
			DataTable Example
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>#</th>
							<th>Nama</th>
							<th>Gender</th>
							<th>No handpone</th>
							<th>Addres</th>
							<th>Actions</th>
						</tr>
					</thead>
	<!-- <table class="table table-hover mt-3"></table>
			  	<thead class="thead-light">
			    	<tr>
			      		<th scope="col">#</th>
			      		<th scope="col">Name</th>
			      		<th scope="col">Gender</th>
			      		<th scope="col">Phone</th>
			      		<th scope="col">Addres</th>
			      		<th scope="col">Actions</th>
			    	</tr>
			  	</thead> -->
			  	<tbody>
			  		{% for d in data %}
			    	<tr>
			      		<th>{{forloop.counter}}</th>
			      		<td>{{d.name}}</td>
			      		<td>{{d.gender}}</td>
			      		<td>{{d.phone}}</td>
			      		<td>{{d.addrs}}</td>
			      		<td>
				    		<a type="button" class="btn btn-primary" href="{{d.id}}/update">Update</a>
				    		<a type="button" class="btn btn-danger" href="{{d.id}}/delete">Delete</a>	
			      		</td>
			    	</tr>
			    	{% endfor %}
				  </tbody>
			</table>
			<a type="button" class="btn btn-primary" href="/customers/input">Tambah</a>
		<a type="button" class="btn btn-danger" href="/">Kembali</a>
			</div>
		</div>
	</div>
			<!-- <div>
				
					<a type="button" class="btn btn-primary" href="/customers/input">Tambah</a>
					<a type="button" class="btn btn-danger" href="/">Kembali</a>
		
			</div> -->
			
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'css/dist/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'css/dist/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'css/dist/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
		<script src="{% static 'css/dist/assets/demo/datatables-demo.js' %}"></script>
		
	</body>
</html>